.verification {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.verification_center {
  height: 100vh;
  width: 100%;
  display: flex;
}

/* THE SECTION OF THE verification LEFT */
.verification_left {
  width: 40%;
  background: var(--secondary);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.verification_left img {
  height: 400px;
  z-index: 999999;
  /* margin-right: -320px; */
}

.verification_left p {
  text-align: center;
  color: var(--white);
  font-family: cursive;
}

/* THE SECTION OF THE verification RIGHT */
.verification_right {
  width: 100%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding-top: 10px;
}

.verification_right::-webkit-scrollbar {
  display: none;
}

.verification_right_div {
  width: 100%;
  padding: 10px;
  /* background: orange; */
}

.verified_center {
  border: 1px solid var(--secondary);
  max-width: 1000px;
  border-radius: 6px;
  text-align: center;
  padding: 30px;
}

.verify_div {
  line-height: 40px;
}

.verify_div h2 {
  color: var(--secondary);
}

.verify_div p {
  /* color: var(--primary); */
  font-size: 17px;
}

.verify_div p {
  font-family: monospace;
}

.open a {
  color: var(--white);
  text-decoration: none;
  outline: none;
  background: var(--secondary);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.open a:hover {
  background: var(--tetiary);
  color: var(--white);
}

/* ========================================== */
/* THE SECTION OF THE MEDIA QUERY */

@media screen and (min-width: 701px) {
  .verification_left {
    display: flex;
    width: 35%;
    /* display: none; */
  }

  .verification_right {
    width: 65%;
  }

  .verification_right_div {
    width: 95%;
  }
}

@media screen and (min-width: 1000px) {
  .verification_left_div {
    width: 70%;
  }

  .verification_right_div {
    width: 60%;
  }

  .verified_center {
    max-width: 700px;
  }
}

@media screen and (max-width: 500px) {
  .verification_right_div {
    padding: 0;
  }

  .verified_center {
    padding: 30px 0;
  }
}
