.search_container {
  position: relative;
  background: var(--primary);
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
}

.search_left h3 {
  font-size: var(--font-small);
  color: var(--white);
  font-weight: 800;
  margin-top: 5px;
  font-family: 'Gorditas', cursive;
  text-transform: uppercase;
}

.left_image {
  height: 50px;
  width: 50px;
}

.search_left img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.search_right {
  display: flex;
  align-items: center;
}

.search_icon {
  margin-left: 15px;
  cursor: pointer;
  color: var(--white);
  font-weight: bold;
}

/* THE SEARCH DIV SECTION */
.search_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  background: var(--primary);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.arrow {
  margin-right: 10px;
  color: var(--white);
  cursor: pointer;
}

.form_group {
  width: 100%;
}

.search_div .form_group input {
  padding: 10px;
  padding: 15px 10px;
  margin-top: 10px;
  border: none;
  outline: none;
  color: var(--white);
  background: transparent;
}

.form_group ::-webkit-input-placeholder {
  color: var(--white);
  opacity: 0.7;
}

/* THE DROPDOWN SECTION */
.dropdown {
  background: var(--white);
  padding: 5px 5px 5px 15px;
  height: 80px;
  text-align: left;
  width: 100px;
  position: absolute;
  top: 20%;
  right: 0;
  border-radius: 3px;
  box-shadow: var(--shadoos);
  z-index: 90;
}

.dropdown li {
  font-size: var(--font-small);
  line-height: 35px;
  color: var(--primary);
  cursor: pointer;
}

.bell {
  position: relative;
  margin-top: -3px;
  cursor: pointer;
}

.bell small {
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  color: var(--white);
  font-size: 9px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  position: absolute;
  top: -1px;
  left: 3px;
  padding: 7px;
}

/* THE SECTION OF THE MEDIA QUERY */
@media screen and (min-width: 767px) {
  .search_container {
    max-width: 300px;
  }
}
